아래 데이터를 이용하여
- only_data2
- only_data3
- only_data6

예측모델 학습에 필요한 데이터를 만들었습니다.
- extension_cust_info2
- extension_continue_cust_info
- extension

## 데이터 불러오기

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as style
%matplotlib inline
import seaborn as sns

style.use("fivethirtyeight")
style.use("seaborn-talk")
#plt.rcParams['font.family'] = 'serif'

import warnings
warnings.filterwarnings('ignore')

In [1]:
import os
os.listdir("../3. LOTTO_데이터 및 모델 세이브 파일/data_preprocessing")

['data1.csv', 'data2.csv', 'data3.csv', 'data4.csv', 'data5.csv', 'data6.csv']

In [3]:
for i, file in enumerate(os.listdir("../3. LOTTO_데이터 및 모델 세이브 파일/data_preprocessing")):
    globals()[f'data{i+1}'] = pd.read_csv("../3. LOTTO_데이터 및 모델 세이브 파일/data_preprocessing/"+file,index_col=0)

## 시작

In [4]:
only_data2=pd.read_csv('../3. LOTTO_데이터 및 모델 세이브 파일/clustering/only_data2.csv',index_col=0)
only_data3=pd.read_csv('../3. LOTTO_데이터 및 모델 세이브 파일/clustering/only_data3.csv',index_col=0)
only_data6=pd.read_csv('../3. LOTTO_데이터 및 모델 세이브 파일/clustering/only_data6.csv',index_col=0)

In [5]:
#Lpay 사용여부 식별하는 컬럼 만들기
only_data2['Lpay']='No'
only_data3['Lpay']='No'
only_data6['Lpay']='Yes'

In [6]:
#공통으로 존재하지 않은 컬럼 삭제
only_data2.drop(['buy_ct'],axis=1,inplace=True)
only_data3.drop(['vst_dt'],axis=1,inplace=True)

In [7]:
intersected_df=pd.concat([only_data2, only_data3, only_data6])

In [8]:
#채널컬럼을 오프라인이면 0, 온라인이면 1로 변경.
#- 변경 전: 오프라인:1, 온라인:2
#- 변경 후: 오프라인:0, 오프라인:1
intersected_df['chnl_dv'] = intersected_df['chnl_dv'].apply(lambda x: x - 1)

In [9]:
intersected_df.loc[:,['Lpay']]=intersected_df.loc[:,['Lpay']].replace('No',0)
intersected_df.loc[:,['Lpay']]=intersected_df.loc[:,['Lpay']].replace('Yes',1)

In [10]:
intersected_df.head()

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,Lpay
0,M000034966,A01016688590,0,A01,A010045,PD0777,20210116,18,78000.0,0
1,M000034966,A01016688590,0,A01,A010045,PD0796,20210116,18,100.0,0
2,M000034966,A01016718167,0,A01,A010045,PD0816,20210116,18,62100.0,0
3,M000034966,A02357398521,0,A02,A020116,PD0616,20210325,13,17900.0,0
4,M000034966,A02357398521,0,A02,A020116,PD0630,20210325,13,59700.0,0

## 상품

In [11]:
data4.head()

     pd_c    pd_nm clac_hlv_nm clac_mcls_nm
0  PD0001       소파          가구         거실가구
1  PD0002  스툴/리빙의자          가구         거실가구
2  PD0003       탁자          가구         거실가구
3  PD0004  장식장/진열장          가구         거실가구
4  PD0005     기타가구          가구         기타가구

In [12]:
intersected_df.head()

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,Lpay
0,M000034966,A01016688590,0,A01,A010045,PD0777,20210116,18,78000.0,0
1,M000034966,A01016688590,0,A01,A010045,PD0796,20210116,18,100.0,0
2,M000034966,A01016718167,0,A01,A010045,PD0816,20210116,18,62100.0,0
3,M000034966,A02357398521,0,A02,A020116,PD0616,20210325,13,17900.0,0
4,M000034966,A02357398521,0,A02,A020116,PD0630,20210325,13,59700.0,0

In [13]:
len(intersected_df)

4251355

In [15]:
intersected_df1=pd.merge(intersected_df,data4, on='pd_c',how='left')
intersected_df1.head()

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,Lpay,pd_nm,clac_hlv_nm,clac_mcls_nm
0,M000034966,A01016688590,0,A01,A010045,PD0777,20210116,18,78000.0,0,남성런닝/트레이닝화,스포츠패션,남성스포츠화
1,M000034966,A01016688590,0,A01,A010045,PD0796,20210116,18,100.0,0,스포츠아대/헤어밴드,스포츠패션,스포츠잡화
2,M000034966,A01016718167,0,A01,A010045,PD0816,20210116,18,62100.0,0,여성런닝/트레이닝화,스포츠패션,여성스포츠화
3,M000034966,A02357398521,0,A02,A020116,PD0616,20210325,13,17900.0,0,남성팬티,속옷/양말/홈웨어,남성속옷
4,M000034966,A02357398521,0,A02,A020116,PD0630,20210325,13,59700.0,0,브래지어,속옷/양말/홈웨어,여성속옷

In [16]:
dup = intersected_df1.duplicated()
print('중복된 데이터의 개수',len(dup[dup==True]))
print('중복되지 않은 데이터의 개수:',len(dup[dup==False]))

중복된 데이터의 개수 0
중복되지 않은 데이터의 개수: 4251355

In [17]:
intersected_df1.isnull().sum()

cust                 0
rct_no               0
chnl_dv              0
cop_c                0
br_c            350662
pd_c            577581
de_dt                0
de_hr                0
buy_am               0
Lpay                 0
pd_nm           577581
clac_hlv_nm     577581
clac_mcls_nm    577581
dtype: int64

### 결측치 처리

In [18]:
# br_c 결측값 처리
null_idx = [(i, intersected_df1[(intersected_df1['br_c'].isnull())&(intersected_df1['cop_c']==i)].index)
            for i in intersected_df1[intersected_df1['br_c'].isnull()]['cop_c'].value_counts().index]

for _ in null_idx:
    intersected_df1.loc[_[1],'br_c'] = _[0]+'00000'

In [19]:
# pd_c, clac_hlv_nm, clac_mcls_nm결측값 처리
intersected_df1['pd_c'] = np.where(pd.notnull(intersected_df1['pd_c']) == True, intersected_df1['pd_c'], intersected_df1['cop_c'])
intersected_df1['pd_nm'] = np.where(pd.notnull(intersected_df1['pd_nm']) == True, intersected_df1['pd_nm'], intersected_df1['cop_c'])
intersected_df1['clac_hlv_nm'] = np.where(pd.notnull(intersected_df1['clac_hlv_nm']) == True, intersected_df1['clac_hlv_nm'], intersected_df1['cop_c'])
intersected_df1['clac_mcls_nm'] = np.where(pd.notnull(intersected_df1['clac_mcls_nm']) == True, intersected_df1['clac_mcls_nm'], intersected_df1['cop_c'])

In [20]:
intersected_df1.isnull().sum()

cust            0
rct_no          0
chnl_dv         0
cop_c           0
br_c            0
pd_c            0
de_dt           0
de_hr           0
buy_am          0
Lpay            0
pd_nm           0
clac_hlv_nm     0
clac_mcls_nm    0
dtype: int64

In [21]:
intersected_df1=intersected_df1.sort_values(by=['cust','de_dt','de_hr','cop_c'], ascending=True).reset_index().drop(columns='index',axis=1)

In [22]:
intersected_df1.head()

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,Lpay,pd_nm,clac_hlv_nm,clac_mcls_nm
0,M000034966,A01016688590,0,A01,A010045,PD0777,20210116,18,78000.0,0,남성런닝/트레이닝화,스포츠패션,남성스포츠화
1,M000034966,A01016688590,0,A01,A010045,PD0796,20210116,18,100.0,0,스포츠아대/헤어밴드,스포츠패션,스포츠잡화
2,M000034966,A01016718167,0,A01,A010045,PD0816,20210116,18,62100.0,0,여성런닝/트레이닝화,스포츠패션,여성스포츠화
3,M000034966,A04003723283,0,A04,A043676,PD1161,20210116,21,1200.0,0,과일음료,음료,과채음료
4,M000034966,A04003723283,0,A04,A043676,PD1330,20210116,21,10800.0,0,국산맥주,주류,맥주

### first extend

In [23]:
Q2=[]
Y2=[]
S2=[]
B2=[]
MoreThanOne=[]

for i in intersected_df1.cust.unique():
    intersected_df2=intersected_df1.loc[intersected_df1['cust'] == i].reset_index().sort_values(by=['de_dt','de_hr'], ascending=True).drop(columns='index',axis=1)
    first_cop=intersected_df2.loc[0,'cop_c']
    Q1=[]
    Q1.append(intersected_df2.loc[0,'pd_c'])
    Y1=[]
    Y1.append(intersected_df2.loc[0,'clac_hlv_nm'])
    S1=[]
    S1.append(intersected_df2.loc[0,'clac_mcls_nm'])
    B1=[]
    B1.append(intersected_df2.loc[0,'br_c'])
    
    for n in range(1,len(intersected_df2)):
        if first_cop==intersected_df2.loc[n,'cop_c']:
            Q1.append(intersected_df2.loc[n,'pd_c'])
            Y1.append(intersected_df2.loc[n,'clac_hlv_nm'])
            S1.append(intersected_df2.loc[n,'clac_mcls_nm'])
            B1.append(intersected_df2.loc[n,'br_c'])
        else:
            second_cop=intersected_df2.loc[n,'cop_c']
            MoreThanOne.append(i)
            Q2.append(Q1)
            Y2.append(Y1)
            S2.append(S1)
            B2.append(B1)
            break

In [26]:
계속된상품1=pd.DataFrame({'cust':MoreThanOne,'pd_c':Q2,'clac_hlv_nm':Y2, 'clac_mcls_nm':S2,'br_c':B2})

In [27]:
계속된상품1.head()

,cust,pd_c,clac_hlv_nm,clac_mcls_nm,br_c
0,M000034966,"[PD0777, PD0796, PD0816]","[스포츠패션, 스포츠패션, 스포츠패션]","[남성스포츠화, 스포츠잡화, 여성스포츠화]","[A010045, A010045, A010045]"
1,M000136117,"[PD0601, PD1164, PD1847]","[세제/위생, 음료, 퍼스널케어]","[세탁세제, 과채음료, 여성위생용품]","[A0200000, A0200000, A0200000]"
2,M000225114,"[PD0232, PD1170, PD1685, PD1684, PD0326, PD168...","[과자, 음료, 테넌트/음식점, 테넌트/음식점, 냉동식품, 테넌트/음식점, 과자, ...","[스낵류, 기능성음료, 식당, 식당, 냉동간편식, 식당, 사탕/캔디, 디저트, 스낵류]","[A010011, A010011, A010011, A010011, A010011, ..."
3,M000261625,"[PD1919, PD1919, PD1922, PD1824, PD1839, PD168...","[화장품/뷰티케어, 화장품/뷰티케어, 화장품/뷰티케어, 패션잡화, 퍼스널케어, 테넌...","[스킨케어, 스킨케어, 스킨케어, 패션액세서리, 바디케어, 식당, 여성속옷, 와인]","[A010017, A010017, A010017, A010017, A010017, ..."
4,M000419293,"[L01, L01]","[L01, L01]","[L01, L01]","[L0100000, L0100000]"

### several extend

In [ ]:
Q2=[]
Y2=[]
S2=[]
B2=[]
MoreThanOne=[]
L1=[]
L2=[]

for i in intersected_df1.cust.unique():
    intersected_df2=intersected_df1.loc[intersected_df1['cust'] == i].reset_index().sort_values(by=['de_dt','de_hr'], ascending=True).drop(columns='index',axis=1)
    first_cop=intersected_df2.loc[0,'cop_c']
    Q1=[]
    Q1.append(intersected_df2.loc[0,'pd_c'])
    Y1=[]
    Y1.append(intersected_df2.loc[0,'clac_hlv_nm'])
    S1=[]
    S1.append(intersected_df2.loc[0,'clac_mcls_nm'])
    B1=[]
    B1.append(intersected_df2.loc[0,'br_c'])
    L3=[]
    L3.append(first_cop)
    
    for n in range(1,len(intersected_df2)):
        if first_cop==intersected_df2.loc[n,'cop_c']:
            Q1.append(intersected_df2.loc[n,'pd_c'])
            Y1.append(intersected_df2.loc[n,'clac_hlv_nm'])
            S1.append(intersected_df2.loc[n,'clac_mcls_nm'])
            B1.append(intersected_df2.loc[n,'br_c'])
        elif first_cop!=intersected_df2.loc[n,'cop_c']:
            if intersected_df2.loc[n,'cop_c'] not in L3:
                second_cop=intersected_df2.loc[n,'cop_c']
                L3.append(second_cop)
                L1.append(first_cop)
                L2.append(second_cop)
                MoreThanOne.append(i)
                Q2.append(Q1)
                Y2.append(Y1)
                S2.append(S1)
                B2.append(B1)
                first_cop=second_cop
                Q1=[]
                Q1.append(intersected_df2.loc[n,'pd_c'])
                Y1=[]
                Y1.append(intersected_df2.loc[n,'clac_hlv_nm'])
                S1=[]
                S1.append(intersected_df2.loc[n,'clac_mcls_nm'])
                B1=[]
                B1.append(intersected_df2.loc[n,'br_c'])
            else:
                break

In [ ]:
#유통사간 확장이 한번 이상 일어난 고객들
계속된상품2=pd.DataFrame({'cust':MoreThanOne,'first_cop':L1, 'second_cop':L2,'pd_c':Q2,'clac_hlv_nm':Y2, 'clac_mcls_nm':S2,'br_c':B2})

In [ ]:
계속된상품2.head()

## 구매금액, 주기, 온라인선호도, 첫번째 두번째 cop, 방문횟수

In [28]:
#group1: 같은 고객이 같은 날짜, 같은 시간, 같은 점포, 같은 채널에서 Lpay사용여부 확인
# 같은 고객이 같은 날짜, 같은 시간, 같은 점포, 같은 채널에서 Lpay 한번이상 사용했으면 1, 사용 안했으면 0
max_Lpay=pd.DataFrame({'Lpay' : intersected_df.groupby(['cust','de_dt','de_hr','cop_c','chnl_dv'])['Lpay'].max()}).reset_index()
max_Lpay

               cust     de_dt  de_hr cop_c  chnl_dv  Lpay
0        M000034966  20210116     18   A01        0     0
1        M000034966  20210116     21   A04        0     0
2        M000034966  20210325     13   A02        0     0
3        M000034966  20210328     21   A02        0     0
4        M000034966  20210629     13   A02        0     0
...             ...       ...    ...   ...      ...   ...
1466557  M999962961  20211223     17   D01        0     0
1466558  M999962961  20211230     16   A02        0     1
1466559  M999962961  20211230     17   A01        0     0
1466560  M999962961  20211230     17   A02        0     0
1466561  M999962961  20211231     13   A03        0     0

[1466562 rows x 6 columns]

In [29]:
#group1: 같은 고객이 같은 날짜, 같은 시간, 같은 점포, 같은 채널에서 구매한 금액을 합친 dataframe
group1=pd.DataFrame({'buy_am' : intersected_df.groupby(['cust','de_dt','de_hr','cop_c','chnl_dv'])['buy_am'].sum()}).reset_index()
group1

               cust     de_dt  de_hr cop_c  chnl_dv    buy_am
0        M000034966  20210116     18   A01        0  140200.0
1        M000034966  20210116     21   A04        0   12000.0
2        M000034966  20210325     13   A02        0   90500.0
3        M000034966  20210328     21   A02        0   89560.0
4        M000034966  20210629     13   A02        0   65700.0
...             ...       ...    ...   ...      ...       ...
1466557  M999962961  20211223     17   D01        0    5900.0
1466558  M999962961  20211230     16   A02        0    8000.0
1466559  M999962961  20211230     17   A01        0   18000.0
1466560  M999962961  20211230     17   A02        0   34900.0
1466561  M999962961  20211231     13   A03        0   28540.0

[1466562 rows x 6 columns]

In [30]:
group1.isnull().sum()

cust       0
de_dt      0
de_hr      0
cop_c      0
chnl_dv    0
buy_am     0
dtype: int64

In [31]:
#group1에 Lpay사용 여부 컬럼 추가
group1=pd.merge(group1, max_Lpay, on=['cust','de_dt','de_hr','cop_c','chnl_dv'], how='left')
group1

               cust     de_dt  de_hr cop_c  chnl_dv    buy_am  Lpay
0        M000034966  20210116     18   A01        0  140200.0     0
1        M000034966  20210116     21   A04        0   12000.0     0
2        M000034966  20210325     13   A02        0   90500.0     0
3        M000034966  20210328     21   A02        0   89560.0     0
4        M000034966  20210629     13   A02        0   65700.0     0
...             ...       ...    ...   ...      ...       ...   ...
1466557  M999962961  20211223     17   D01        0    5900.0     0
1466558  M999962961  20211230     16   A02        0    8000.0     1
1466559  M999962961  20211230     17   A01        0   18000.0     0
1466560  M999962961  20211230     17   A02        0   34900.0     0
1466561  M999962961  20211231     13   A03        0   28540.0     0

[1466562 rows x 7 columns]

In [32]:
group1.isnull().sum()

cust       0
de_dt      0
de_hr      0
cop_c      0
chnl_dv    0
buy_am     0
Lpay       0
dtype: int64

In [33]:
dup = group1.duplicated(['cust', 'de_dt', 'de_hr', 'cop_c', 'chnl_dv', 'buy_am','Lpay'])
print('중복된 데이터의 개수',len(dup[dup==True]))
print('중복되지 않은 데이터의 개수:',len(dup[dup==False]))

중복된 데이터의 개수 0
중복되지 않은 데이터의 개수: 1466562

In [34]:
import datetime
group1['date']=pd.to_datetime(group1.de_dt.apply(str)) #날짜 형태로 바꿈
group1['hour'] = group1.de_hr.apply(lambda x: datetime.time(x))
group1['date']=group1['date'].astype('str')
group1['hour']=group1['hour'].astype('str')
group1['Date&Hour']=group1['date']+' '+group1['hour']
group1['Date&Hour']=pd.to_datetime(group1['Date&Hour'])

In [35]:
group1.head()

,cust,de_dt,de_hr,cop_c,chnl_dv,buy_am,Lpay,date,hour,Date&Hour
0,M000034966,20210116,18,A01,0,140200.0,0,2021-01-16,18:00:00,2021-01-16 18:00:00
1,M000034966,20210116,21,A04,0,12000.0,0,2021-01-16,21:00:00,2021-01-16 21:00:00
2,M000034966,20210325,13,A02,0,90500.0,0,2021-03-25,13:00:00,2021-03-25 13:00:00
3,M000034966,20210328,21,A02,0,89560.0,0,2021-03-28,21:00:00,2021-03-28 21:00:00
4,M000034966,20210629,13,A02,0,65700.0,0,2021-06-29,13:00:00,2021-06-29 13:00:00

In [36]:
group1=group1.reset_index().sort_values(by=['cust','de_dt','de_hr','cop_c'], ascending=True).drop(columns='index',axis=1)

In [37]:
group1.head()

,cust,de_dt,de_hr,cop_c,chnl_dv,buy_am,Lpay,date,hour,Date&Hour
0,M000034966,20210116,18,A01,0,140200.0,0,2021-01-16,18:00:00,2021-01-16 18:00:00
1,M000034966,20210116,21,A04,0,12000.0,0,2021-01-16,21:00:00,2021-01-16 21:00:00
2,M000034966,20210325,13,A02,0,90500.0,0,2021-03-25,13:00:00,2021-03-25 13:00:00
3,M000034966,20210328,21,A02,0,89560.0,0,2021-03-28,21:00:00,2021-03-28 21:00:00
4,M000034966,20210629,13,A02,0,65700.0,0,2021-06-29,13:00:00,2021-06-29 13:00:00

### first extend

In [38]:
L1=[]
L2=[]
N1=[]
M1=[]
MoreThanOne=[]
T2=[]
C2=[]
P2=[]
for i in group1.cust.unique():
    group2=group1.loc[group1['cust'] == i].reset_index().sort_values(by=['de_dt','de_hr'], ascending=True).drop(columns='index',axis=1)
    first_cop=group2.loc[0,'cop_c']
    cnt=1
    amount=group2.loc[0,'buy_am']
    time=group2.loc[0,'Date&Hour']
    C1=[]
    C1.append(group2.loc[0,'chnl_dv'])
    T1=[]
    P1=[]
    P1.append(group2.loc[0,'Lpay'])
    
    for n in range(1,len(group2)):
        if first_cop==group2.loc[n,'cop_c']:
            cnt+=1
            amount+=group2.loc[n,'buy_am']
            C1.append(group2.loc[n,'chnl_dv'])
            T1.append(group2.loc[n,'Date&Hour']-time)
            time=group2.loc[n,'Date&Hour']
            P1.append(group2.loc[n,'Lpay'])
        else:
            second_cop=group2.loc[n,'cop_c']
            L1.append(first_cop)
            N1.append(cnt)
            L2.append(second_cop)
            M1.append(amount)
            MoreThanOne.append(i)
            C2.append(np.mean(C1))
            P2.append(max(P1))
            if len(T1)>0:
                T2.append(pd.Series(T1).mean())
            else:
                T2.append('1번 구매')
            break

In [39]:
#유통사간 확장이 한번 이상 일어난 고객들
계속된확장1=pd.DataFrame({'cust':MoreThanOne,'first_cop':L1,'first_cnt':N1,'second_cop':L2, 'buy_am':M1,'online_prefer':C2, 'cycle':T2,'Lpay':P2})

In [40]:
계속된확장1.head()

,cust,first_cop,first_cnt,second_cop,buy_am,online_prefer,cycle,Lpay
0,M000034966,A01,1,A04,140200.0,0.0,1번 구매,0
1,M000136117,A02,1,A06,24700.0,1.0,1번 구매,0
2,M000225114,A01,4,A03,82580.0,0.0,1 days 19:20:00,0
3,M000261625,A01,3,D01,441700.0,0.0,20 days 22:00:00,0
4,M000419293,L01,2,A01,188174.0,1.0,2 days 15:00:00,1

### several extend

In [ ]:
L1=[]
L2=[]
N1=[]
M1=[]
MoreThanOne=[]
T2=[]
C2=[]
P2=[]
for i in group1.cust.unique():
    group2=group1.loc[group1['cust'] == i].reset_index().sort_values(by=['de_dt','de_hr'], ascending=True).drop(columns='index',axis=1)
    first_cop=group2.loc[0,'cop_c']
    cnt=1
    amount=group2.loc[0,'buy_am']
    time=group2.loc[0,'Date&Hour']
    C1=[]
    C1.append(group2.loc[0,'chnl_dv'])
    T1=[]
    P1=[]
    P1.append(group2.loc[0,'Lpay'])
    L3=[]
    L3.append(first_cop)
    
    for n in range(1,len(group2)):
        if first_cop==group2.loc[n,'cop_c']:
            cnt+=1
            amount+=group2.loc[n,'buy_am']
            C1.append(group2.loc[n,'chnl_dv'])
            T1.append(group2.loc[n,'Date&Hour']-time)
            time=group2.loc[n,'Date&Hour']
            P1.append(group2.loc[n,'Lpay'])
        elif first_cop!=group2.loc[n,'cop_c']:
            if group2.loc[n,'cop_c'] not in L3:
                second_cop=group2.loc[n,'cop_c']
                L3.append(second_cop)
                L1.append(first_cop)
                N1.append(cnt)
                L2.append(second_cop)
                M1.append(amount)
                MoreThanOne.append(i)
                C2.append(np.mean(C1))
                P2.append(max(P1))
                if len(T1)>0:
                    T2.append(pd.Series(T1).mean())
                else:
                    T2.append('1번 구매')
                first_cop=second_cop
                C1=[]
                C1.append(group2.loc[n,'chnl_dv'])
                T1=[]
                P1=[]
                P1.append(group2.loc[n,'Lpay'])
                amount=group2.loc[n,'buy_am']
                time=group2.loc[n,'Date&Hour']
                cnt=1
            else:
                break

In [ ]:
#유통사간 확장이 한번 이상 일어난 고객들
계속된확장2=pd.DataFrame({'cust':MoreThanOne,'first_cop':L1,'first_cnt':N1,'second_cop':L2, 'buy_am':M1,'online_prefer':C2, 'cycle':T2,'Lpay':P2})

In [ ]:
계속된확장2.head()

## merge

In [42]:
one_extend=pd.merge(계속된확장1,계속된상품1, on=['cust'],how='left')
one_extend=pd.merge(one_extend, data1, on='cust',how='left')
one_extend.head()

,cust,first_cop,first_cnt,second_cop,buy_am,online_prefer,cycle,Lpay,pd_c,clac_hlv_nm,clac_mcls_nm,br_c,ma_fem_dv,ages,zon_hlv
0,M000034966,A01,1,A04,140200.0,0.0,1번 구매,0,"[PD0777, PD0796, PD0816]","[스포츠패션, 스포츠패션, 스포츠패션]","[남성스포츠화, 스포츠잡화, 여성스포츠화]","[A010045, A010045, A010045]",여성,40대,Z07
1,M000136117,A02,1,A06,24700.0,1.0,1번 구매,0,"[PD0601, PD1164, PD1847]","[세제/위생, 음료, 퍼스널케어]","[세탁세제, 과채음료, 여성위생용품]","[A0200000, A0200000, A0200000]",여성,30대,Z11
2,M000225114,A01,4,A03,82580.0,0.0,1 days 19:20:00,0,"[PD0232, PD1170, PD1685, PD1684, PD0326, PD168...","[과자, 음료, 테넌트/음식점, 테넌트/음식점, 냉동식품, 테넌트/음식점, 과자, ...","[스낵류, 기능성음료, 식당, 식당, 냉동간편식, 식당, 사탕/캔디, 디저트, 스낵류]","[A010011, A010011, A010011, A010011, A010011, ...",여성,40대,Z17
3,M000261625,A01,3,D01,441700.0,0.0,20 days 22:00:00,0,"[PD1919, PD1919, PD1922, PD1824, PD1839, PD168...","[화장품/뷰티케어, 화장품/뷰티케어, 화장품/뷰티케어, 패션잡화, 퍼스널케어, 테넌...","[스킨케어, 스킨케어, 스킨케어, 패션액세서리, 바디케어, 식당, 여성속옷, 와인]","[A010017, A010017, A010017, A010017, A010017, ...",여성,40대,Z17
4,M000419293,L01,2,A01,188174.0,1.0,2 days 15:00:00,1,"[L01, L01]","[L01, L01]","[L01, L01]","[L0100000, L0100000]",여성,40대,Z17

In [45]:
len(one_extend)

24480

In [43]:
one_extend.isnull().sum()

cust             0
first_cop        0
first_cnt        0
second_cop       0
buy_am           0
online_prefer    0
cycle            0
Lpay             0
pd_c             0
clac_hlv_nm      0
clac_mcls_nm     0
br_c             0
ma_fem_dv        0
ages             0
zon_hlv          0
dtype: int64

In [46]:
len(계속된상품1)

24480

In [44]:
len(계속된확장1)

24480

In [ ]:
several_extend=pd.merge(계속된확장2,계속된상품2, on=['cust','first_cop','second_cop'],how='left')
several_extend=pd.merge(several_extend, data1, on='cust',how='left')
several_extend.head()

## 추가 데이터 전처리
### 첫제휴사 횟수

In [47]:
cop_list1 = list(one_extend.first_cop.unique())
for cop in cop_list1:
    one_extend[cop] = 0

In [ ]:
cop_list2 = list(several_extend.first_cop.unique())
for cop in cop_list2:
    several_extend[cop] = 0

In [48]:
for i in one_extend.values:
    one_extend.loc[one_extend.cust == i[0], i[1]] = i[2]

In [ ]:
for i in several_extend.values:
    several_extend.loc[several_extend.cust == i[0], i[1]] = i[2]

### 주기

In [49]:
one_extend.cycle=one_extend.cycle.astype('str')
one_extend['cycle_days']=0
for i in range(len(one_extend)):
    one_extend.loc[i,'cycle_days']=one_extend.cycle[i].split()[0]

In [ ]:
several_extend.cycle=several_extend.cycle.astype('str')
several_extend['cycle_days']=0
for i in range(len(several_extend)):
    several_extend.loc[i,'cycle_days']=several_extend.cycle[i].split()[0]

In [50]:
one_extend.loc[:,['cycle_days']]=one_extend.loc[:,['cycle_days']].replace('1번',365)
one_extend.loc[:,['cycle_days']]=one_extend.loc[:,['cycle_days']].astype('int')

In [ ]:
several_extend.loc[:,['cycle_days']]=several_extend.loc[:,['cycle_days']].replace('1번',365)
several_extend.loc[:,['cycle_days']]=several_extend.loc[:,['cycle_days']].astype('int')

## 평균 구매금액

In [51]:
#첫 번째 계열사에서의 총구매금액을 첫번째 계열사를 간 횟수로 나눔
one_extend['avg_buy_am']=one_extend['buy_am']/one_extend['first_cnt']
one_extend['log_avg_buy_am']=np.log1p(one_extend.avg_buy_am)
one_extend.to_csv('one_extend.csv')

In [ ]:
#첫 번째 계열사에서의 총구매금액을 첫번째 계열사를 간 횟수로 나눔
several_extend['avg_buy_am']=several_extend['buy_am']/several_extend['first_cnt']
several_extend['log_avg_buy_am']=np.log1p(several_extend.avg_buy_am)
several_extend.to_csv('several_extend.csv')